    .card {
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin: 50px;
        width: 500px;
        margin-left: 390px;

        /* border: 5px solid darkcyan; */
    }

    .form {
        text-align: center;
        justify-content: space-around;
        margin: 0px;
        padding: 20px; 
        box-shadow: 10px 10px 10px whitesmoke;
        text-align: center;

        /* border: 5px solid darkgray; */
    }